.montserrat{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
}

body {
    font-family: 'Montserrat', 'Sans Serif Collection';
    display:flex;
    align-items:center;
    justify-content:space-between;
}

h2{
    text-align:center;
}

.form-box {
    width: 100%;
    max-width: 450px;
    margin: auto;
    border: solid 23px rgba(16, 227, 28, 0.11);
    background-color: rgba(16, 227, 28, 0.16)
}

.input-box{
    margin-bottom:9px;
}

lable{
    margin-bottom:9px;
}
input, select {
    margin-top: 5px;
    display: block;
    border: 1px solid rgb(28, 153, 112);
    width: 100%;
    height: 30px;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: rgba(16, 227, 28, 0.05);
}

input[type="file"]{
    vertical-align:middle;
    padding:5px;
}

.check-box {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.check-box input {
    width:10%;
    margin-left: 10px;
    margin-right: 5px;
}

textarea {
    border: 1px solid rgb(28, 153, 112);
    width: 100%;
    height: 87px;
    border-radius: 5px;
    resize: vertical;
    box-sizing: border-box;
    background-color: rgba(16, 227, 28, 0.05);
}

.buttons{
    display:flex;
    justify-content:space-between;
    margin-top:16px;
    width:100%;
}

button{
    width:47%;
    padding:9px;
    background-color:tomato;
    border-radius:6px;
}

button:hover{
    background-color:aquamarine;
}

.check-box > input{
    background-color:blueviolet;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
select:focus,
textarea:focus {
    border: 2px solid rgb(255, 0, 0);
    outline: none;
}
